@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--bs-white: #fff;
	--bs-black: #1e1e1e;
	--bs-dark-blue: #002772;
	--bs-light-blue: #d6e6ff;
	--bs-pink: #fde2ff;
	--bs-purple: #720060;
	--bs-dark-gray: #3f3f3f;
	--bs-light-gray: #dcdcdc;
	--bs-transparent-black: rgba(0, 0, 0, 0.2);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}

.upper-top {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.else-loader {
	width: 80vw;
}

.bg-upper {
	width: 100%;
	height: 65%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: -1;
}

.menTextColor {
	color: var(--bs-dark-blue);
}

.womenTextColor {
	color: var(--bs-purple);
}

.menColor {
	background-color: var(--bs-light-blue);
	background-image: url('../images/bg-pattern.svg');
}

.womenColor {
	background-color: var(--bs-pink);
	background-image: url('../images/bg-pattern.svg');
}

.defaultColor {
	background-color: var(--bs-light-gray);
}

.bottom {
	height: 70%;
	margin-bottom: 300px;
	background-color: var(--bs-white);
}

.product-card {
	width: 100%;
	min-height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--bs-white);
	box-shadow: 2px 4px 21px 0px var(--bs-transparent-black);
	border-radius: 10px;
	padding: 50px;
	column-gap: 50px;
	overflow: hidden;
}

.product-card .product-image {
	max-width: 300px;
	height: auto;
}

.title {
	font-weight: 600;
	font-size: 28px;
	line-height: 33.89px;
}

.head-description {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 17px;
	margin-bottom: 11px;
}

.rating {
	display: flex;
	align-items: center;
}

.rating-text {
	font-size: 18px;
	font-weight: 400;
	line-height: 21.78px;
	margin-right: 5px;
}

.rating-rated {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border-style: solid;
	margin: 0 2px;
}

.menRatingRated {
	background-color: var(--bs-dark-blue);
	border-color: var(--bs-dark-blue);
}

.womenRatingRated {
	background-color: var(--bs-purple);
	border-color: var(--bs-purple);
}

.menRatingUnrated {
	border-color: var(--bs-dark-blue);
}

.womenRatingUnrated {
	border-color: var(--bs-purple);
}

.product-card .category {
	color: var(--bs-dark-gray);
	font-size: 18px;
	font-weight: 400;
	line-height: 21.78px;
}

.product-card .description {
	overflow-y: auto;
	height: 15rem;
	color: var(--bs-black);
	font-size: 20px;
	font-weight: 400;
	line-height: 24.2px;
	margin-bottom: 16.5px;
	padding: 20px 0;
	border-top: 1px solid var(--bs-transparent-black);
	border-bottom: 1px solid var(--bs-transparent-black);
}

.product-card .price {
	font-size: 28px;
	font-weight: 600;
	line-height: 33.89px;
	margin-bottom: 15px;
}

.button-product {
	display: flex;
	align-items: center;
	column-gap: 19px;
}

.product-card .buy-now,
.product-card .next-product {
	padding: 9px 88px;
	border-radius: 5px;
	font-size: 20px;
	font-weight: 600;
	line-height: 24.2px;
	border-radius: 4px;
	cursor: pointer;
}

.buy-now {
	color: var(--bs-white);
}

.next-product {
	border-width: 3px;
	border-style: solid;
	background-color: var(--bs-white);
}

.menBuyButton {
	background: var(--bs-dark-blue);
	border-color: var(--bs-dark-blue);
}

.womenBuyButton {
	background: var(--bs-purple);
	border-color: var(--bs-purple);
}

.menNextButton {
	border-color: var(--bs-dark-blue);
	color: var(--bs-dark-blue);
}

.womenNextButton {
	border-color: var(--bs-purple);
	color: var(--bs-purple);
}

.product-unavailable {
	width: 100%;
	background-image: url(../images/sad-face.svg);
	background-repeat: no-repeat;
	background-size: center;
	background-position: center;
	flex-direction: column;
}

.product-unavailable p {
	font-size: 20px;
	font-weight: 400;
	line-height: 24.2px;
	margin-bottom: 13px;
}

.loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

.loader-overlay {
	width: 60% !important;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
